/* RESETEO TOTAL: Matamos los estilos por defecto de Vite */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  /* Usamos dvh para que el celular no corte la pantalla al abrir el teclado */
  height: 100dvh; 
  overflow: hidden;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #efeae2; /* El color de fondo de WhatsApp */
}